@model IEnumerable<WebSite>
@{ 
    ViewBag.Title = "History";
}

<div class="content__history history">
    <div class="history__body block block--inside">
        <div class="history__table-wrapper">
            <table class="history__table table table--big-font">
                <thead class="table__head">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Authority)</th>
                        <th>@Html.DisplayNameFor(model => model.DateOfAnalysis)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Authority</td>
                            <td>@item.DateOfAnalysis</td>
                            <td><a class="history__link link load" asp-action="Result" asp-route-websiteId="@item.Id">Check</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="history__nav">
            @if (ViewBag.ClosedPage != 2 && ViewBag.ClosedPage != -1)
            {
                <a class="history__nav-link" asp-action="History" asp-route-page="@(ViewBag.Page - 1)">Previous</a>
            }
            @if (ViewBag.ClosedPage != 2 && ViewBag.ClosedPage != 1)
            {
                <a class="history__nav-link" asp-action="History" asp-route-page="@(ViewBag.Page + 1)">Next</a>
            }
        </div>
    </div>
</div>